<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23832476316-92hh6jpnk5ed0rqh4u6i771f8uguksuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23832476316-92hh6jpnk5ed0rqh4u6i771f8uguksuj</string>
	<key>API_KEY</key>
	<string>AIzaSyBCkOdgItKxxONBC8LGonIzHW5zlJe8lJg</string>
	<key>GCM_SENDER_ID</key>
	<string>23832476316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBUiLayout</string>
	<key>PROJECT_ID</key>
	<string>projectninja-hm</string>
	<key>STORAGE_BUCKET</key>
	<string>projectninja-hm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23832476316:ios:b91db5af64143c4924cb59</string>
</dict>
</plist>